.container {
    margin-top: 125px;
}
.formsection {
    margin-top: 10px;
    background-color:rgb(208, 206, 214);
    border-radius: 10px;
}
.form {
    padding: 15px;
}
.error {
    color:#db2269;
    font-size: 0.625em;
  }